<% provide(:title, 'シフト提出者一覧') %>
<div class="wrapper">  
   <section class="info">
      <h1>シフト提出者 一覧</h1>
      <ul>
         <% @no_staffs.each do |staff| %>
            <li>
               <%= staff.name %>
               <% if staff.abandon %>
                 (今月は提出しない)
               <% end %>
            </li>
         <% end %>　 
      <ul>
   </section> 
</div>