<% provide(:title, 'シフト調整中') %>
<div class="wrapper">
  <div class="button" id="temp_btn"> 
    <%= link_to "仮削除一覧", deletable_shifts_path , class:"btn btn-primary"%>
    <button type="button" name="name" class="plan btn btn-primary">営業•催事を追加する</button>
    <button type="button" name="name" class="shift btn btn-primary">空きシフトを追加する</button>
  </div>  

  <div class="training">
      <p>トレーニング中</p>
  </div>
  <div class="normal">
      <p>通常</p>
  </div>


  <div class="all-calendar">
      <div id="calendar"></div>
  </div>

  <div class="confirm">
    <%= link_to "確定する", verification_temporary_shifts_path, class:"btn btn-danger"%>
  </div> 

  <div id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="response-modal" tabindex="0" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="error" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="response-modal-body">
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'temporary_shifts/calendar' %>
<%= javascript_pack_tag 'shared/index' %>