<div class="row">
      <div class="col text-center">
            <h1>シフト募集終了</h1>
            <%= form_with(url: shift_onoff_masters_path, html: {method: :patch}) do |f| %>
                <%= f.submit "終了する",   class: "btn btn-danger js-event-create-btn" %>
            <% end %>
      </div>
</div>   