<h1><%= @event.staff.name %></h1> 
<h1><%= @event.fulltime %></h1>

<div class="row">
    <div class="col">
        <%= form_with(model: @event, url: reborn_deletable_shift_path(@event), html: { method: :patch }, local: false) do |f| %>
            <%= f.submit "元に戻す", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>    