<% provide(:title, '確定したシフト一覧') %>
<div class="wrapper">
  <div class="open_title">
    <h1>シフトを確認する</h1>
  </div>
  <div class="gap"></div>
  <div id="calendar"></div>

  <div id="modal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="response-modal" tabindex="0" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="error" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="response-modal-body">
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'comfirmed_shifts/calendar' %>
<%= javascript_pack_tag 'shared/index' %>