<div class="wrapper">
        <% if logged_in? %>
            <div class="shift_onoff">
                <%if !current_master.shift_onoff %>
                    <button type="button" name="name" class= "shift_period btn btn-primary">募集開始</button>
                <% else %>
                    <button type="button" name="name" class= "shift_period btn btn-danger">募集終了</button>
                <% end %>
            </div>  
            <div class="button"> 
                <button type="button" name="name" class="plan btn btn-primary">営業•催事を追加する</button>
                <button type="button" name="name" class="shift btn btn-primary">空きシフトを追加する</button>
            </div> 
        <% end %> 
    <% if logged_in? || logged_in_staff? %>
        <% if !logged_in? && logged_in_staff? %>
          <div class="gap-root"></div>
        <% end %>

        <div class="training">
            <p>トレーニング中</p>
        </div>
        <div class="normal">
            <p>通常</p>
        </div>
        <div class="all-calendar">
            <div id="calendar"></div>
        </div>

        <div id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <div id="response-modal" tabindex="0" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="error" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="response-modal-body">
                    </div>
                </div>
            </div>
        </div>
        <%= javascript_pack_tag 'perfect_shifts/calendar' %>
        <%= javascript_pack_tag 'shared/index' %>
    <% else %>
        <%= render 'static_pages/how_to_use' %>
    <% end %>
</div>    